@page
@model Ejercicio_Web.Pages.MailSentModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
</head>
<body class="text-white">
    <div class=" mt-4">
        <h1>Thank you for contacting me!</h1>
        <p>I'll be answering as soon as I can.</p>
    </div>
    <div>
        <a asp-area="" asp-page="/Index">Home</a></p>
    </div>
   
</body>
</html>